/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 50px;
}

h1{
    color: #007bff;
    text-align: center;
}

p {
    text-align: justify;
}

/* Navbar Styles */
.navbar-brand, .nav-link {
    color: white !important;
}

.nav-link.active {
    font-weight: bold;
}

/* Card Styles */
.card {
    border: none;
    box-shadow: 0 4px 8px #d11414b8;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

/* Footer Styles */
footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 50px;
}

footer a {
    color: #f8f9fa;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Form Styles */
form {
    background: #e0dddd;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px #cf0c0c1a;
}




html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
}

footer {
    margin-top: auto;
}
.screenshot img {
    width: 50%;
    height: auto;
    display: block;
    margin: 1rem auto;
}